doctype html
html(lang="en")
    head
        title='Тестовая страница'
        link(rel='stylesheet', href='css/styles.css')
    body
        .rooms__content
            #myBtnContainer
                button(class='btn active' onclick="filterSelection('all')") Show all
                button(class='btn' onclick="filterSelection('adriatic')") Adriatic suite
                button(class='btn' onclick="filterSelection('atelier')") Atelier
                button(class='btn' onclick="filterSelection('gallery')") Gallery
                button(class='btn' onclick="filterSelection('piazza')") Grand Piazza suite
            .container
                .filterDiv.adriatic.piazza Animal allowed
                .filterDiv.adriatic.gallery Smoking room
                .filterDiv.adriatic.piazza.gallery Sea view
                .filterDiv.adriatic.piazza.atelier.gallery Swimming pool
                .filterDiv.adriatic.piazza.atelier Wi-Fi 24h
                .filterDiv.adriatic.piazza.atelier.gallery Breakfast Included 
        script(src='app.js')