extends ../layout/main

block main
    #container.col
        if youAreUsingPug
            p Вы используете pug
        else
            p Начните использовать pug
        p.
            Тестовый параграф
            